*{
    margin: 0;
    padding: 0;

}
body
{
    background-image: url(d.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    padding-left: 450px;
    color: white;
    background-color: black;

}
p{
    margin-top: 400px;
    margin-left: 600px;
    
}
a{
    color: white;
    font-size: 26px;
}
